<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de Usuarios</title>
    <link rel="stylesheet" href="./css/estilo.css">
</head>
<body> 
    <%- include("partials/partials.dash.header.ejs", { datos : datos })  %>
    <button class="bg-purple" onclick="abrirChat()">Abrir Chat</button>

    <!-- El modal -->
    <div class="modal" id="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <div id="chat-messages"></div>
            <input type="text" id="messageInput" placeholder="Escribe tu mensaje...">
            <button class="bg-black"  onclick="enviarMensaje()">Enviar</button>
        </div>
    </div>

    <h1><%= titulo %></h1>
    <h1></h1>
    <div class="container">
        <h2>Barra de Búsqueda por ID Usuario</h2>
        <div class="search-container">
            <input type="text" id="idInput" placeholder="ID Usuario..." oninput="filtrarTabla()">
        </div>
        <div id="results"></div>
    </div>
    <script src="main.js"></script>
    <div class="container">
        <table border="5">
            <thead>
                <tr>
                    <th>ID Usuario</th>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tablaUsuarios">
                <% datos.forEach(function(registro){ %>
                    <tr>
                        <td><%= registro.idusuario %></td>
                        <td><%= registro.identificacion %></td>
                        <td><%= registro.nombre %></td>
                        <td><%= registro.correo %></td>
                        <td><%= registro.contrasena %></td>
                        <td><%= registro.telefono %></td>
                        <td>
                            <button class="btn bg-black" data-toggle="modal" data-target="#modal-warning" onclick="CargarUsuario(event)">Modificar</button>
                            <button class="btn bg-black" id="Elimina" onclick="EliminaRegistro(event)">Elimina</button>
                            <button class="btn bg-black" onclick="Reporte(event)">Generar Reporte</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script>
        function filtrarTabla() {
            const input = document.getElementById('idInput');
            const filter = input.value.toUpperCase();
            const table = document.getElementById('tablaUsuarios');
            const tr = table.getElementsByTagName('tr');

            for (let i = 0; i < tr.length; i++) {
                const td = tr[i].getElementsByTagName('td')[0]; // Obtenemos la celda del ID Usuario
                if (td) {
                    const txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }

        const Reporte = (event) => {
            const idUsuario = event.target.parentElement.parentElement.children[0].textContent.trim();
            const identificacion = event.target.parentElement.parentElement.children[1].textContent.trim();
            const nombre = event.target.parentElement.parentElement.children[2].textContent.trim();
            const correo = event.target.parentElement.parentElement.children[3].textContent.trim();
            const contraseña = event.target.parentElement.parentElement.children[4].textContent.trim();
            const telefono = event.target.parentElement.parentElement.children[5].textContent.trim();

            const contenidoReporte = `
                <h1>Informe</h1>
                <p>En nuestro sistema, gestionamos los productos de manera eficiente y segura. A continuación, se presenta la información detallada del usuario:</p>
                <hr>
                <h2>Información del Usuario</h2>
                <ul>
                    <li><strong></strong> Estimado señor@ ${nombre}</li>
                    <li><strong></strong> con identificacion ${identificacion} te damos la Bienvenida a Supplier aqui tendras grandes veneficios con nuestros mayores proveedores exparcidos por todo nuestra sona sur </li><br>
                    <li><strong></strong>Aqui podras ver tus datos tanto personales como tus datos de logueeo asegurate que sean los datos que aparecen a continuacion</li>
                    <br>
                    <li><strong>id Usuario</strong> ${idUsuario}</li>
                    <li><strong>identificacion</strong> ${identificacion}</li>
                    <li><strong>Nombre</strong> ${nombre}</li>
                    <li><strong>Correo:</strong> ${correo}</li>
                    <li><strong>Contraseña:</strong> ${contraseña}</li>
                    <li><strong>Teléfono:</strong> ${telefono}</li>
                    <li><strong></strong> Te damos las gracias por estar en nuestra pagina web espero y disfrutes de todos nuestros apartados </li><br>
                    <li><strong></strong>cualquier inquietud no dudes en contactarnos </li><br>
                    <li><strong></strong> Te deseamos mucha suerte</li>
                </ul>
            `;

            const reporteHTML = `
                <html>
                    <head>
                        <meta charset="UTF-8">
                        <title>Reporte de Usuario</title>
                        <style>
                            body {
                                font-family: Arial, sans-serif;
                                padding: 20px;
                            }
                            h1, h2 {
                                color: #333;
                            }
                            hr {
                                border: 1px solid #ccc;
                            }
                            ul {
                                list-style-type: none;
                                padding: 0;
                            }
                            li {
                                margin-bottom: 10px;
                            }
                        </style>
                    </head>
                    <body>
                        ${contenidoReporte}
                    </body>
                </html>
            `;

            const blob = new Blob([reporteHTML], { type: 'text/html' });
            const url = URL.createObjectURL(blob);

            window.open(url);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include("partials/partials.dash.footer.ejs") %>
</body>
</html>
